<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-dsercam/blob/main/assignment01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('assignment01 for GitJobish03 and edited in git, and 18')

assignment01 for GitJobish03 and edited in git, and 18

In [ ]:
#print() method sends/displays messages at the console
print("Hello Python 101")

Hello Python 101

In [ ]:
#as in many other programming languages, this print methods recognizes special characters as \n for new lines
print("Hello\nWorld!")

Hello
World!

In [ ]:
# adding a '#' symbol before a line of code comments the instruction
# print('Hello World!')

In [5]:
# some python types according to the firs module
# the type() method returns the data type of a varible or expression

#int for integers
type(2)

int

In [6]:
type(3.1416)

float

In [7]:
type('Dante')

str

In [8]:
type(True)

bool

In [9]:
type(False)

bool

In [11]:
# as ohter programing langauges, you can cast values into a different type, somo considerations: 
# data is lost in the decimal part when casting a float to an integer, you cannot cast non'numeric str expressions into any type of numeric type. 
#True and False boolean values map to 1 and 0 respectivley 

# lost of data
int(3.1416)

3

In [12]:
# error in invalid casting
int('a')

ValueError: ignored

In [13]:
int(True)

1

In [14]:
bool(0)

False

In [15]:
#obtainig the type of a casting (float expression to int), reuslts in int
type(int(1.0))

int

In [16]:
#convert 1 to boolean, cast using bool()
bool(1)

True