<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-dsercam/blob/main/assignment01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('assignment01 for GitJobish03 and edited in git, and 18')

assignment01 for GitJobish03 and edited in git, and 18

In [ ]:
#print() method sends/displays messages at the console
print("Hello Python 101")

Hello Python 101

In [ ]:
#as in many other programming languages, this print methods recognizes special characters as \n for new lines
print("Hello\nWorld!")

Hello
World!

In [ ]:
# adding a '#' symbol before a line of code comments the instruction
# print('Hello World!')

In [5]:
# some python types according to the firs module
# the type() method returns the data type of a varible or expression

#int for integers
type(2)

int

In [6]:
type(3.1416)

float

In [7]:
type('Dante')

str

In [8]:
type(True)

bool

In [9]:
type(False)

bool

In [11]:
# as ohter programing langauges, you can cast values into a different type, somo considerations: 
# data is lost in the decimal part when casting a float to an integer, you cannot cast non'numeric str expressions into any type of numeric type. 
#True and False boolean values map to 1 and 0 respectivley 

# lost of data
int(3.1416)

3

In [12]:
# error in invalid casting
int('a')

ValueError: ignored

In [13]:
int(True)

1

In [14]:
bool(0)

False

In [15]:
#obtainig the type of a casting (float expression to int), reuslts in int
type(int(1.0))

int

In [16]:
#convert 1 to boolean, cast using bool()
bool(1)

True

In [18]:
# want to knwo what version of pyhton are we using?
import sys
print(sys.version)

3.7.14 (default, Sep  8 2022, 00:06:44)
[GCC 7.5.0]

In [19]:
#First program -excerises
print("Hello, world!")

Hello, world!

In [20]:
print("Hello, world!") # Print the traditional hello world

Hello, world!

In [21]:
type(12.0)

float

In [22]:
#type of a divsion is a float on python 3
type(6/2)

float

In [23]:
#tyep of an integer division is an int (using // instead of / as operator)
type(6//2) #int

int

In [24]:
#hours in 160 minutes (as float)
type(160/60) #int

float

In [25]:
#hours in 160 minutes (as int)
type(160//60) #int

int

In [31]:
#obtain the even numbers in the sequence "01232456"
Numbers = "0123456"
Numbers[::2]

'0246'

In [35]:
# "0123456".find('1') -> this line of code will find the position of the '1' character within the string, which will be 1 as the positions start at the zero count
"0123456".find('1')

1

In [37]:
# slicing does not include the right boundary
name = "Dante Serna"
name[0:4] # will slice "Dant" excluding the string from the 4th position onwards "e Serna"

'Dant'

In [38]:
# placing a 'r' before the string displays the raw message including the scape \ symbol
print(r"this message will display the \ scape character")

this message will display the \ scape character

In [40]:
#adding the folloing variables results in a concatenated string not a math sum
a = "1"
b = "2"
c = a + b #"12"
c

'12'

In [43]:
#slicing the first three elements, remember the right boundary is not included and indexes start at 0
a = "ABCDEF"
a[0:3]

'ABC'

In [45]:
#stride is the third argument on an slicing notation, stride every two elemnts
e = "clocrkr1e1c1t"
e[::2]

'correct'

In [48]:
# convert f to upper
f ="You are wrong"
f=f.upper()
print(f)

YOU ARE WRONG

In [52]:
#find "snow"
g="This is string contains the substring snow at index 38"
g.find("snow")

38

In [56]:
#replace "Mary" with "Bob"
h = "Mary will be replaced with the word Bob after executing the code, so Bob will appear three times."
h = h.replace("Mary","Bob")
h

'Bob will be replaced with the word Bob after executing the code, so Bob will appear three times.'

In [57]:
#this will print only two letters
name = "Lizz"
name[0:2] #Li

'Li'

In [59]:
#slicing with a stride of 2 will pick every two characters in this sting
seq = "01234567"
seq[::2] #0246

'0246'

In [60]:
#this is a string conncatenation, not a numeric addition
"1"+"2" #12

'12'

In [62]:
#using upper() method 
message = "this is all lowercase"
print(message.upper())

THIS IS ALL LOWERCASE