<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-dsercam/blob/main/assignment01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('assignment01 for GitJobish03 and edited in git, and 18')

assignment01 for GitJobish03 and edited in git, and 18

In [ ]:
#print() method sends/displays messages at the console
print("Hello Python 101")

Hello Python 101

In [ ]:
#as in many other programming languages, this print methods recognizes special characters as \n for new lines
print("Hello\nWorld!")

Hello
World!

In [ ]:
# adding a '#' symbol before a line of code comments the instruction
# print('Hello World!')

In [5]:
# some python types according to the firs module
# the type() method returns the data type of a varible or expression

#int for integers
type(2)

int

In [6]:
type(3.1416)

float

In [7]:
type('Dante')

str

In [8]:
type(True)

bool

In [9]:
type(False)

bool

In [11]:
# as ohter programing langauges, you can cast values into a different type, somo considerations: 
# data is lost in the decimal part when casting a float to an integer, you cannot cast non'numeric str expressions into any type of numeric type. 
#True and False boolean values map to 1 and 0 respectivley 

# lost of data
int(3.1416)

3

In [12]:
# error in invalid casting
int('a')

ValueError: ignored

In [13]:
int(True)

1

In [14]:
bool(0)

False

In [15]:
#obtainig the type of a casting (float expression to int), reuslts in int
type(int(1.0))

int

In [16]:
#convert 1 to boolean, cast using bool()
bool(1)

True

In [18]:
# want to knwo what version of pyhton are we using?
import sys
print(sys.version)

3.7.14 (default, Sep  8 2022, 00:06:44)
[GCC 7.5.0]

In [19]:
#First program -excerises
print("Hello, world!")

Hello, world!

In [20]:
print("Hello, world!") # Print the traditional hello world

Hello, world!

In [21]:
type(12.0)

float

In [22]:
#type of a divsion is a float on python 3
type(6/2)

float

In [23]:
#tyep of an integer division is an int (using // instead of / as operator)
type(6//2) #int

int

In [24]:
#hours in 160 minutes (as float)
type(160/60) #int

float

In [25]:
#hours in 160 minutes (as int)
type(160//60) #int

int

In [31]:
#obtain the even numbers in the sequence "01232456"
Numbers = "0123456"
Numbers[::2]

'0246'

In [35]:
# "0123456".find('1') -> this line of code will find the position of the '1' character within the string, which will be 1 as the positions start at the zero count
"0123456".find('1')

1

In [37]:
# slicing does not include the right boundary
name = "Dante Serna"
name[0:4] # will slice "Dant" excluding the string from the 4th position onwards "e Serna"

'Dant'

In [38]:
# placing a 'r' before the string displays the raw message including the scape \ symbol
print(r"this message will display the \ scape character")

this message will display the \ scape character

In [40]:
#adding the folloing variables results in a concatenated string not a math sum
a = "1"
b = "2"
c = a + b #"12"
c

'12'

In [43]:
#slicing the first three elements, remember the right boundary is not included and indexes start at 0
a = "ABCDEF"
a[0:3]

'ABC'

In [45]:
#stride is the third argument on an slicing notation, stride every two elemnts
e = "clocrkr1e1c1t"
e[::2]

'correct'

In [48]:
# convert f to upper
f ="You are wrong"
f=f.upper()
print(f)

YOU ARE WRONG

In [52]:
#find "snow"
g="This is string contains the substring snow at index 38"
g.find("snow")

38

In [56]:
#replace "Mary" with "Bob"
h = "Mary will be replaced with the word Bob after executing the code, so Bob will appear three times."
h = h.replace("Mary","Bob")
h

'Bob will be replaced with the word Bob after executing the code, so Bob will appear three times.'

In [57]:
#this will print only two letters
name = "Lizz"
name[0:2] #Li

'Li'

In [59]:
#slicing with a stride of 2 will pick every two characters in this sting
seq = "01234567"
seq[::2] #0246

'0246'

In [60]:
#this is a string conncatenation, not a numeric addition
"1"+"2" #12

'12'

In [62]:
#using upper() method 
message = "this is all lowercase"
print(message.upper())

THIS IS ALL LOWERCASE

In [64]:
# help() method gives you more info on an object
help(str)

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Use keyword.iskeyword() to test for reserved identifiers such as "def" and
 |      "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |        sep
 |          The delimiter according which to split the string.
 |          None (the default value) means split according to any whitespace,
 |          and discard empty strings from the result.
 |        maxsplit
 |          Maximum number of splits to do.
 |          -1 (the default value) means no limit.
 |
 |      Splits are done starting at the end of the string and working to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |      sep
 |        The delimiter according which to split the string.
 |        None (the default value) means split according to any whitespace,
 |        and discard empty strings from the result.
 |      maxsplit
 |        Maximum number of splits to do.
 |        -1 (the default value) means no limit.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(x, y=None, z=None, /)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

In [65]:
#you can leave the right boundary of a limit to consider the rest of a list or tuple
a = ["a","b","c"]
a[1:] #["b","c"]

['b', 'c']

In [67]:
#can use the len() method to find the length of a tuple
tup = (0,1,2,3,4,5,6,7,8,9)
len(tup)

10

In [69]:
#obtain the third index
tup[3]

3

In [71]:
#obtain elements in indexes 3,4,5 through slicing
tup[3:6]

(3, 4, 5)

In [72]:
# can use the index() method to find the index of an element
tup.index(8)

8

In [73]:
# the sum of the set is different beacuse the set removes repeated elements when it is created using a list as a source
A = [1, 2, 2, 1]
B = set([1, 2, 2, 1])
print("sum of a list ",sum(A))
print("sum of a set created froma list with repeating elements ",sum(B))

sum of a list  6
sum of a set created froma list with repeating elements  3

In [74]:
#creation of sets does not include repeating elements from its input
set(['rap','house','electronic music', 'rap'])

{'electronic music', 'house', 'rap'}

In [75]:
#union methods creates the union between two sets
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])
album_set3 = album_set1.union(album_set2)
album_set3

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [76]:
#issubset() method determines if the invoking object is a subset of the reference sent as parameter, in this case, this is true as set1 was used to create set3
album_set1.issubset(album_set3)

True

In [77]:
# .values() method brings the values of a dcitionary, 0,1,2 in this case
D = {'a':0,'b':1,'c':2}
D.values()

dict_values([0, 1, 2])

In [78]:
#Referencing a key in a dictionary returns the value, 1 in this case
D['b'] #1

1

In [79]:
#something i did not know, tuples can be keys
Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
Dict

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6}

In [80]:
#keys methods returns all the keys of a dictionary
release_year_dict = {"Thriller": "1982", "Back in Black": "1980", \
                    "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", \
                    "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", \
                    "Saturday Night Fever": "1977", "Rumours": "1977"}
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

In [81]:
release_year_dict.keys()

dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell', 'Their Greatest Hits (1971-1975)', 'Saturday Night Fever', 'Rumours'])

In [82]:
# you cand add an entry with the dcitionaryName[key] = value notation
release_year_dict['Graduation'] = '2007'
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977',
 'Graduation': '2007'}

In [83]:
#you can remove an element from a dictionary using the del() method an the element key
del(release_year_dict['Graduation'])
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

In [84]:
#you can validate an element exists within a dictionary by using the 'in' operator
'The Bodyguard' in release_year_dict

True

In [85]:
'Graduation' in release_year_dict

False

In [87]:
#create a dictionary...
soundtrack_dic = {"The Bodyguard":"1992", "Saturday Night Fever":"1977"}
soundtrack_dic

{'The Bodyguard': '1992', 'Saturday Night Fever': '1977'}

In [88]:
#get the keys
soundtrack_dic.keys() #The Bodyguard, Saturday Night Fever

dict_keys(['The Bodyguard', 'Saturday Night Fever'])

In [89]:
#get the values
soundtrack_dic.values() #1992, 1977

dict_values(['1992', '1977'])

In [90]:
#create a dictionary where The Albums "Back in Black", "The Bodyguard" and "Thriller" have the following music recording sales in millions 50, 50 and 65 respectively:
album_sales_dict = {"Back in Black":50, "The Bodyguard":50 , "Thriller":65}
album_sales_dict

{'Back in Black': 50, 'The Bodyguard': 50, 'Thriller': 65}

In [91]:
#Use the dictionary to find the total sales of Thriller:
album_sales_dict["Thriller"] #65

65

In [92]:
#find names of the albums (we set those as the keys)
album_sales_dict.keys()

dict_keys(['Back in Black', 'The Bodyguard', 'Thriller'])

In [93]:
#find the sales of each album (we set those as the values)
album_sales_dict.values()

dict_values([50, 50, 65])

In [94]:
#getting the firs element of the tuple
A = ('a','b','c')
A[0]

'a'

In [97]:
#Appending a list to a list makes the elemtn just one element longer as the append method appends the list as one element regardless of the type
B = ['a','b','c']
B.append(['e','d'])
B

['a', 'b', 'c', ['e', 'd']]

In [100]:
#cosnidering the dicitonary, Dict[D] will retrive the value for that key
Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}
Dict["D"] #(4,4,4)

(4, 4, 4)

In [101]:
# any value different from 0 is true
i =1
i!=0

True

In [102]:
i=-1
i!=0

True

In [103]:
i=10000000
i!=0

True

In [105]:
i=0
i!=0

False

In [106]:
#in te followning snippet, x is assigned 'a', as a result the execution flow will go down the 'else' path
x='a'
if(x!='a'):
  print("This is not a.")
else:
  print("This is a.")

This is a.

In [108]:
#comparison is case sensitive
'Aa' > 'aA'

False

In [109]:
'aA' > 'Aa'

True

In [111]:
#Write an if-else statement that performs the following. If the rating is larger then eight print this album is amazing. If the rating is less than or equal to 8 print this album is ok.
#rating = 8.1
rating = 8
if(rating > 8):
    print("this album is amazing")
else:
    print("this album is ok")

this album is ok

In [120]:
#Write an if statement to determine if an album came out before 1980 or in the years: 1991 or 1993. If the condition is true print out the year the album came out.
releaseDate = 1980
if(releaseDate < 1980) or (releaseDate == 1991) or (releaseDate == 1993):
  print(releaseDate)

In [118]:
releaseDate = 1979
if(releaseDate < 1980) or (releaseDate == 1991) or (releaseDate == 1993):
  print(releaseDate)

1979

In [121]:
releaseDate = 1991
if(releaseDate < 1980) or (releaseDate == 1991) or (releaseDate == 1993):
  print(releaseDate)

1991

In [123]:
releaseDate = 1993
if(releaseDate < 1980) or (releaseDate == 1991) or (releaseDate == 1993):
  print(releaseDate)

1993