<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-dsercam/blob/main/Semana2_Actividad1_IBM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Actividad de la semana 2: Actividad 1: Python for Data Science (IBM)**

###**Maestría en Inteligencia Artificial Aplicada**
###**Curso: Ciencia y analítica de datos**
####**Tecnológico de Monterrey**

###**Nombre del estudiante: Dante Rodrigo Serna Camarillo**

###**Matrícula: A01182676**

# **IBM Módulo 4**

<font color='darkblue'>File object can be open using the *open()* function</font>

*   First argument is the file path. File path is made up of
  *   File path
  *   File directory

*   Second Argument is the mode, commo values include:
  * R -> READING
  * W -> Writing
  * A -> Appending

<font color='darkblue'>For example:

**myFileObject = open("/pathToMyFile/fileName.ext","w")**</font>

In [2]:
#lets open a sample file within this notebook... We can use the "california_housing_test.csv" file at the "sample_data" folder

myFileObject = open("sample_data/california_housing_test.csv","r")
myFileObject

<font color='darkblue'>Some attributes of a file object:
* .name -> returns name of the file, including the path to it
* .mode -> mode used to open the file
* .close() -> method used to close a file, you should always close a file</font>

In [6]:
print("myFileObject.name -> ",myFileObject.name)
print("myFileObject.name -> ",myFileObject.mode)
print("Closing myFileobject...")
myFileObject.close()
print("was my file closed?",myFileObject.closed)

myFileObject.name ->  sample_data/california_housing_test.csv
myFileObject.name ->  r
Closing myFileobject...
was my file closed? True

<font color='darkblue'>A good practice is to use the "*with*" instruction when working with files, as it will automatically close a file after the indented instructions are completed for example:</font>

In [12]:
with open("sample_data/california_housing_test.csv","r") as myFile:
  fileContents = myFile.read() # the read() methods "reads" the content of a file into a string.
  print("\nThe file contents are (first 300 characters): ",fileContents[0:300])

print("\nInstruction out of the -with- block,is my file closed?",myFile.closed)
print("\nPrinting file Conntents outside the -with- block (first 300 characters)->",fileContents[0:300])

The file contents are (first 300 characters):  "longitude","latitude","housing_median_age","total_rooms","total_bedrooms","population","households","median_income","median_house_value"
-122.050000,37.370000,27.000000,3885.000000,661.000000,1537.000000,606.000000,6.608500,344700.000000
-118.300000,34.260000,43.000000,1510.000000,310.000000,809.00

Instruction out of the -with- block,is my file closed? True

Printing file Conntents outside the -with- block (first 300 characters)-> "longitude","latitude","housing_median_age","total_rooms","total_bedrooms","population","households","median_income","median_house_value"
-122.050000,37.370000,27.000000,3885.000000,661.000000,1537.000000,606.000000,6.608500,344700.000000
-118.300000,34.260000,43.000000,1510.000000,310.000000,809.00

<font color='darkblue'>The ***readline()*** method is very useful to read a file line by line instead of its whole content.</font>

In [13]:
with open("sample_data/california_housing_test.csv","r") as myFile:
  line1 = myFile.readline() # read the first line.
  print("\nThe first line: ",line1)
  line2 = myFile.readline() # read the second line.
  print("\nThe second line: ",line2)

The first line:  "longitude","latitude","housing_median_age","total_rooms","total_bedrooms","population","households","median_income","median_house_value"


The second line:  -122.050000,37.370000,27.000000,3885.000000,661.000000,1537.000000,606.000000,6.608500,344700.000000

<font color='darkblue'>The following code is an example on how to iterate and print the file lines:
</font>
<pre> 
<font color='darkorange'>
<b>with</b> open("filePath/fileName.ext","r") <b>as</b> File1:
 <b>for</b> line <b>in</b> File1:
    print(line)  
</font>
</pre> 
</font>

<font color='darkblue'> The readline method can also be used to progress trought the file contents, using an integer argument we will be reading characters that number of characters, each subsequent call will continue reading *n* characaters after the last read index.</font>

In [35]:
with open("sample_data/california_housing_test.csv","r") as myFile:
  line1 = myFile.read(5) # read 5 charactes.
  print("\nThe first 5 characters: ",line1)
  line2 = myFile.read(10) # read the next 10 characters
  print("\nThe next 10 characters: ",line2)
  line3 = myFile.read(7) # read the next 7 characters
  print("\nThe next 7 characters: ",line3)

The first 5 characters:  "long

The next 10 characters:  itude","la

The next 7 characters:  titude"

**LAB - READING FILES**

<font color='darkblue'>Download data used in the lab</font>

In [15]:

import urllib.request
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt'
filename = 'Example1.txt'
urllib.request.urlretrieve(url, filename)

## Download Example file
#!wget -O /resources/data/Example1.txt https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt

('Example1.txt', <http.client.HTTPMessage at 0x7f4b2dd30450>)

In [19]:
#open the file
file1 = open(filename,"r")

#Print the name of the file
file1.name

'Example1.txt'

In [20]:
# print the mode
file1.mode

'r'

In [21]:
# Read and print the file contents
FileContent = file1.read()
FileContent

'This is line 1 \nThis is line 2\nThis is line 3'

In [22]:
#using the print() method will print the contents and interpret the new lines
print(FileContent)

This is line 1
This is line 2
This is line 3

In [23]:
#you can also determine the type of the file contents
type(FileContent)

str

In [24]:
#Dont forget to close the file at the end!
file1.close()

In [25]:
#was the file closed?
file1.closed

True

In [30]:
#remember to use the "with" content to safely work with a file
with open(filename, "r") as file2:
    FileContent2 = file2.read()
    print(FileContent2)

This is line 1
This is line 2
This is line 3

In [31]:
#you can assert that the file was actually closed
file2.closed

True

In [32]:
#you can print the file contents outside the "with" scope
print(FileContent2)

This is line 1
This is line 2
This is line 3

In [33]:
# read the four first characters
with open(filename, "r") as file3:
    print(file3.read(4))

This

In [34]:
# Read one line

with open(filename, "r") as file4:
    print("first line as: " + file4.readline())

first line as: This is line 1

<font color='blue'>INTERESTING FACT! </font> We can also pass an argument to  readline()  to specify the number of charecters we want to read. However, unlike  read(),  readline() can only read one line at most.

In [36]:
with open(filename, "r") as file1:
    print(file1.readline(20)) # does not read past the end of line
    print(file1.read(20)) # Returns the next 20 chars

This is line 1

This is line 2
This

In [37]:
# for loops can also be used to iterate over files

with open(filename,"r") as file1:
        i = 0;
        for line in file1:
            print("Iteration", str(i), ": ", line)
            i = i + 1

Iteration 0 :  This is line 1

Iteration 1 :  This is line 2

Iteration 2 :  This is line 3

<font color="blue"> <b>readlines()</b> method!</font> can be used to read all the lines in a file and save them into a list

In [43]:
with open(filename, "r") as file1:
    FileasList = file1.readlines()

print("List[0] ", FileasList[0])   
print("List[1] ", FileasList[1])

List[0]  This is line 1

List[1]  This is line 2

# **WRITING FILE WITH OPEN()**

<font color="darkblue"> We can use the open() method to write a file:
*  Set the write mode using "w" as an argument
*  Consider that if the file already exists at the path, it will be overwritten
*  We can also use the "with" statemnt to safely work with a file and let it close automatically after the indented instructions have been executed.

In [48]:
#you can use the write() method to write in a file, using it multiple times will append the provided info to the contents
with open("sample_data/myTestFile.txt","w") as fileToWrite:
  fileToWrite.write("this is the first line: Dante\n")
  fileToWrite.write("this is the second line: Serna\n")
  print(fileToWrite)

with open("sample_data/myTestFile.txt","r") as fileToRead:
  contents = fileToRead.read()
  print(contents)

<_io.TextIOWrapper name='sample_data/myTestFile.txt' mode='w' encoding='UTF-8'>
this is the first line: Dante
this is the second line: Serna

In [49]:
#you can also use a list to write to a file
ListOfLines = ["This is the first line 1\n","This is the second line 2\n","This is the thrid line 3\n"]
with open("sample_data/myTestFile2.txt","w") as fileToWrite:
  for line in ListOfLines:
    fileToWrite.write(line)
  print(fileToWrite)

with open("sample_data/myTestFile2.txt","r") as fileToRead:
  contents = fileToRead.read()
  print(contents)

<_io.TextIOWrapper name='sample_data/myTestFile2.txt' mode='w' encoding='UTF-8'>
This is the first line 1
This is the second line 2
This is the thrid line 3

<font color='darkblue'> IMPORTANT! you can use the "a" mode to append contents to a exisitng file:</font>

In [50]:
ListOfLines = ["This is the first line 4\n","This is the second line 5\n","This is the thrid line 6\n"]
with open("sample_data/myTestFile2.txt","a") as fileToWrite:
  for line in ListOfLines:
    fileToWrite.write(line)
  print(fileToWrite)

with open("sample_data/myTestFile2.txt","r") as fileToRead:
  contents = fileToRead.read()
  print(contents)

<_io.TextIOWrapper name='sample_data/myTestFile2.txt' mode='a' encoding='UTF-8'>
This is the first line 1
This is the second line 2
This is the thrid line 3
This is the first line 4
This is the second line 5
This is the thrid line 6

<font color="orange"> <b> INTERESTING !!! </b> </font> <br>
<font color="darkblue"> you can create a copy of a file by copying its contents using a nested loop</font>

In [52]:
with open("sample_data/myTestFile2.txt","r") as sourceFile:
    with open("sample_data/myTestFile2Copy.txt","w") as destinationFile:
      for line in sourceFile:
        destinationFile.write(line)

with open("sample_data/myTestFile2Copy.txt","r") as fileToRead:
  contents = fileToRead.read()
  print(contents)

This is the first line 1
This is the second line 2
This is the thrid line 3
This is the first line 4
This is the second line 5
This is the thrid line 6

# Writing files - LAB

In [54]:
# Write line to a new file, use the "w" mode and th write() method
exmp2 = 'sample_data/myLabFile.txt'
with open(exmp2, 'w') as writefile:
    writefile.write("This is line A")

In [55]:
# Read the file we jsut created

with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

This is line A

In [56]:
# Write multiple lines to this file again, as it already exists it will be overwritten

with open(exmp2, 'w') as writefile:
    writefile.write("This is line A\n")
    writefile.write("This is line B\n")

In [57]:
# Read the file to see how the file was overwritten (won;t find "This is line A" twice)

with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B

In [67]:
#use the followign list to write a file
Lines = ["This is line A\n", "This is line B\n", "This is line C\n"]

with open(exmp2, 'w') as writefile:
    for line in Lines:
        print(line)
        writefile.write(line)

This is line A

This is line B

This is line C

In [59]:
# Read the file to see how the file was overwritten 

with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C

In [68]:
# use the "a" mode to append data without overwriting file contents

with open(exmp2, 'a') as testwritefile:
    testwritefile.write("This is line C\n")
    testwritefile.write("This is line D\n")
    testwritefile.write("This is line E\n")

In [61]:
# Read to see how text was appended

with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C
This is line C
This is line D
This is line E

# <font color="orange"> Additional modes!</font>
<font color="darkblue">
Consider its ineffecient to open the file in "a" or "w" and then reopening it in r to read any lines. To address that issue we can use the following modes:

* r+ : Reading and writing. Cannot truncate the file.
* w+ : Writing and reading. Truncates the file.
* a+ : Appending and Reading. Creates a new file, if none exists.
</font

In [63]:
#reading a file that does not exist, file will be created but there is no content to read...
with open('sample_data/iDontExistYet.txt', 'a+') as testwritefile:
    testwritefile.write("This is line E\n")
    print(testwritefile.read())

Nothing was printed because the cursor is at the end of the file when read....

In [65]:
#You can understand the behavior of the cursos with this example
with open(exmp2, 'a+') as testwritefile:
    print("Initial Location: {}".format(testwritefile.tell()))
    
    data = testwritefile.read()
    if (not data):  #empty strings return false in python
            print('Read nothing') 
    else: 
            print(testwritefile.read())
            
    testwritefile.seek(0,0) # move 0 bytes from beginning.
    
    print("\nNew Location : {}".format(testwritefile.tell()))
    data = testwritefile.read()
    if (not data): 
            print('Read nothing') 
    else: 
            print(data)
    
    print("Location after read: {}".format(testwritefile.tell()) )

Initial Location: 90
Read nothing

New Location : 0
This is line A
This is line B
This is line C
This is line C
This is line D
This is line E

Location after read: 90

<font color="darkblue">The difference between *w+* and *r+*. <br>
Both of these modes allow access to read and write methods, however, opening a file in w+ overwrites it and deletes all pre-existing data. 
To work with a file on existing data, use r+ and a+.<br> 
While using r+, it can be useful to add a .truncate() method at the end of your data. This will reduce the file to your data and delete everything that follows. 
In the following code block, Run the code as it is first and then run it with the .truncate().</font>

In [66]:
with open(exmp2, 'r+') as testwritefile:
    data = testwritefile.readlines()
    testwritefile.seek(0,0) #write at beginning of file
   
    testwritefile.write("Line 1" + "\n")
    testwritefile.write("Line 2" + "\n")
    testwritefile.write("Line 3" + "\n")
    testwritefile.write("finished\n")
    #Uncomment the line below
    #testwritefile.truncate()
    testwritefile.seek(0,0)
    print(testwritefile.read())

Line 1
Line 2
Line 3
finished
This is line C
This is line C
This is line D
This is line E

In [69]:
#regenerated file to previous contents for this exercise
#copy the contents into another file

# Copy file to another

with open(exmp2,'r') as readfile:
    with open('sample_data/myLabFileCopy.txt','w') as writefile:
          for line in readfile:
                writefile.write(line)

with open('sample_data/myLabFileCopy.txt','r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C
This is line C
This is line D
This is line E

**LAB EXERCISE**

Your local university's Raptors fan club maintains a register of its active members on a .txt document. Every month they update the file by removing the members who are not active. You have been tasked with automating this with your Python skills. 
<br>
Given the file currentMem, Remove each member with a 'no' in their Active column. Keep track of each of the removed members and append them to the exMem file. Make sure that the format of the original files in preserved. (Hint: Do this by reading/writing whole lines and ensuring the header remains ) 
Run the code block below prior to starting the exercise. The skeleton code has been provided for you. Edit only the cleanFiles function.

In [70]:
#Run this prior to starting the exercise
from random import randint as rnd

memReg = 'sample_data/members.txt'
exReg = 'sample_data/inactive.txt'
fee =('yes','no')

def genFiles(current,old):
    with open(current,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"

        for rowno in range(20):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[rnd(0,1)]))


    with open(old,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"
        for rowno in range(3):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[1]))


genFiles(memReg,exReg)

In [74]:
'''
The two arguments for this function are the files:
    - currentMem: File containing list of current members
    - exMem: File containing list of old members
    
    This function should remove all rows from currentMem containing 'no' 
    in the 'Active' column and appends them to exMem.
    '''
def cleanFiles(currentMem, exMem):
        with open(currentMem,"r+") as cm:
            with open(exMem,"a+") as em:
                #fix cursor
                cm.seek(0)
                cmList = cm.readlines()
                header = cmList[0]
                cmList.pop(0)
                #list for inactive memebers
                inactiveMembers = []
                for member in cmList:
                  if 'no' in member:
                    inactiveMembers.append(member)
                #move to the beginning of the memebers file again
                cm.seek(0) 
                #make sure we include the headers again
                cm.write(header)
                #iterate over the members
                for member in cmList:
                  #if the memeber is also in the flagged inactive, write to the em file for inactives
                  if (member in inactiveMembers):
                    em.write(member)
                  #otherwise it is not inactive, write in the current members file
                  else:
                    cm.write(member)
                #truncate whatever remains of the previous current memeber files
                cm.truncate()   

# The code below is to help you view the files.
# Do not modify this code for this exercise.
memReg = 'sample_data/members.txt'
exReg = 'sample_data/inactive.txt'
cleanFiles(memReg,exReg)


headers = "Membership No  Date Joined  Active  \n"
with open(memReg,'r') as readFile:
    print("Active Members: \n\n")
    print(readFile.read())
    
with open(exReg,'r') as readFile:
    print("Inactive Members: \n\n")
    print(readFile.read())

Active Members:


Membership No  Date Joined  Active
    42422      2019-6-14    yes
    84749      2019-5-25    yes
    98913      2019-7-24    yes
    23691      2019-3-18    yes
    91516      2016-1-1     yes
    78625      2018-6-13    yes
    94769      2018-11-7    yes
    19738      2019-12-20   yes
    70424      2018-7-6     yes
    53648      2018-10-6    yes
    56434      2017-10-16   yes

Inactive Members:


Membership No  Date Joined  Active
    87269      2015-10-15   no
    24059      2017-9-16    no
    72698      2016-4-12    no
    12616      2015-1-23    no
    46865      2020-11-18   no
    67445      2018-7-9     no
    78294      2018-12-1    no
    65390      2015-2-18    no
    47107      2016-4-9     no
    20901      2015-12-23   no
    14776      2015-11-4    no
    96985      2015-7-20    no

# <font color="orange">LOADING DATA WITH PANDAS</font>

In [75]:
#import pandas using the following import statement
import pandas as pd

In [90]:
#you can read a csv file into a dataframe object (pandas) using the built in funciton read_csv() and providing a path to the file
housing_csv = 'sample_data/california_housing_test.csv'
dataframe   = pd.read_csv(housing_csv)

In [91]:
#you can see the head of the file using the head() method, which read the first 5 lines of the file
dataframe.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [78]:
#you can read an excel file in a similar way
xlsx_path   = 'sample_data/testfile.xlsx'
dataframeExcel   = pd.read_excel(xlsx_path)
dataframeExcel.head()

    Table 1 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5
0  TestCol1   TestCol2   TestCol3   TestCol4   TestCol5   TestCol6
1         1          a        dog          1          a        dog
2         2          b        cat          2          b        cat
3         3          C        Cow          3          C        Cow
4         4          a     Parrot          4          a     Parrot

In [80]:
# you can create a new date frame by referencing a column of an exisitng data frame
longitude = dataframe[['longitude']]
longitude

      longitude
0       -122.05
1       -118.30
2       -117.81
3       -118.36
4       -119.67
...         ...
2995    -119.86
2996    -118.14
2997    -119.70
2998    -117.12
2999    -119.63

[3000 rows x 1 columns]

You can create dataframe out of dictionaries.
You can access dataframe contents by referencing it spostion by row and column as:
* myDataFrame[row,column] where column can also refer to the column name, apart of the numeric notation.

In [99]:
#you can slice data frames using the following ranges notation

slicedDataframe = dataframe.loc[10:'total_rooms']
slicedDataframe

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
10,-118.24,33.98,45.0,972.0,249.0,1288.0,261.0,2.2054,125000.0
11,-119.12,35.85,37.0,736.0,166.0,564.0,138.0,2.4167,58300.0
12,-121.93,37.25,36.0,1089.0,182.0,535.0,170.0,4.6900,252600.0
13,-117.03,32.97,16.0,3936.0,694.0,1935.0,659.0,4.5625,231200.0
14,-117.97,33.73,27.0,2097.0,325.0,1217.0,331.0,5.7121,222500.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [100]:

df=pd.DataFrame({'a':[11,21,31],'b':[21,22,23]})

df.head()

    a   b
0  11  21
1  21  22
2  31  23

In [103]:
# you can get the unqie values of a given data frame using unique()
dataframeExcel['Unnamed: 2'].unique()

array(['TestCol3', 'dog', 'cat', 'Cow', 'Parrot', 'Turtle', 'Lion',
       'Fish', 'Whale', 'Bunny'], dtype=object)

In [104]:
dataframeExcel['Unnamed: 1'].unique()

array(['TestCol2', 'a', 'b', 'C'], dtype=object)

In [106]:
df1 = dataframeExcel[dataframeExcel['Unnamed: 1']=='a']
df1

  Table 1 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5
1       1          a        dog          1          a        dog
4       4          a     Parrot          4          a     Parrot
7       7          a       Fish          7          a       Fish

In [108]:
#you can also save your dataframe using the to_csv() method, where the method takes the path and name of the output file
df1.to_csv('sample_data/valuesequalA.csv')

In [109]:
dfq=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})
dfq

   a  b
0  1  1
1  2  1
2  1  1

In [111]:
dfq['a']

0    1
1    2
2    1
Name: a, dtype: int64

In [112]:
dfq['a']==1

0     True
1    False
2     True
Name: a, dtype: bool

# <font color="orange"> LAB- PANDAS </font>

In [ ]:
# Write your code below and press Shift+Enter to execute
q = df['Rating']

In [ ]:
# Write your code below and press Shift+Enter to execute
q = df[['Released','Artist']]

In [ ]:
# Write your code below and press Shift+Enter to execute
df.iloc[1,2]

In [ ]:
#Use the following list to convert the dataframe index df to characters and assign it to df_new; find the element corresponding to the row index a and column  'Artist'. 
#Then select the rows a through d for the column  'Artist'
new_index=['a','b','c','d','e','f','g','h']
df_new = df
df_new.index = new_index
df_new.loc['a','Artist']
df_new.loc['a':'d','Artist']